div .dataTables_wrapper .dataTable
{
    margin-top: 0 !important;
}

div .dataTables_wrapper .dataTables_paginate
{
    margin: 0 0 10px !important;
    text-align: center !important;
}

@media (max-width: 768px)
{
    div .dataTables_wrapper .dataTables_paginate
    {
        margin-right: 0 !important;
    }
}

div .dataTables_wrapper .dataTables_length
{
    margin-top: 5px;
    margin-left: 15px;
}

div .dataTables_wrapper .dataTables_filter
{
    margin-top: 5px;
    margin-right: 15px;
}

div .dataTables_wrapper .col-sm-7
{
    width: 100%;
}