.header
{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#coop-form
{
    background-color: #ffffff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    padding-bottom: 10px;
}

.info-text
{
    font-size: 11pt;
    margin-top: 1em;
}

.semester-selection
{
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
    margin-left: 10em;
    margin-right: 10em;
}

.coop-radio
{
    font-size: 30pt;
}

.submit-btn
{
    display: flex;
    background-color: #b0197e;
    width: 100%;
    justify-content: center;
    color: white;
}

.submit-btn:hover
{
    background-color: #95156b;
    color: white;
}