.form-control
{
    width: 100%;
    margin-left: 1em;
    margin-right: 1em;
    justify-content: center;
}

.form-card
{
    margin-bottom: 1em;
    padding-right: 4em;
}

.btn-submit
{
    width: 100%;
    margin-left: 10px;
}