html
{
    height: 100%;
    display: flex;
    margin: 0;
}

html>*
{
    height: 100%;
    width: 100%;
}

.housing-container
{
    display: flex;
    justify-content: space-between;
}

.odd
{
    background-color: #ffffff;
}

.even
{
    background-color: #f9f9f9;
}

.panel
{
    width: 48%;
    display: flex;
    flex-direction: column;
}

.main
{
    justify-content: center;
    display: flex;
}

.panel-title
{
    margin: 0;
    padding-left: 10px;
}

.table
{
    margin: 0;
}