.page-title
{
  margin-bottom: 1em;
  margin-left: 15px;
  margin-top: 10px;
}

.section-header
{
  margin-top: 30px;
  font-size: 18pt;
  margin-left: 10px;
}

.input-label
{
  font-size: 12pt;
  font-weight: 400;
  margin-left: 1em;
  margin-top: 3px;
}

.form-card
{
  margin: 1em;
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
}

.btn-submit
{
  width: 100%;
  margin-left: 10px;
}

.large-text
{
  font-size: 14pt;
  margin-top: 50px;
}